In [9]:
group = [80,5,56,27,18,34]
for age in group:
    if(age<18):
        print("Child")
    elif(age<39):
        print("Adult")
    elif(age<59):
        print("Citizen")
    else:
        print("Senior Citizen")

Senior Citizen
Child
Citizen
Adult
Adult
Adult

In [32]:
group = [80,5,56,27,18,34]
for age in group:
    if(age<18):
        print("Child")
    elif(age<39):
        print("Adult")
    elif(age<59):
        print("Citizen")
    else:
        print("Senior Citizen")        
    if(age%2==0):
        print ("Even Number")
    else:
        print(" Odd Number")

Senior Citizen
Even Number
Child
 Odd Number
Citizen
Even Number
Adult
 Odd Number
Adult
Even Number
Adult
Even Number

In [44]:
for num1 in range(0,5,2):
    print(num1)

0
2
4